/*
* {
  margin: 0px;
  padding: 0px;
}

#header {
  width: 100%;
  height: 60px;
  background-color: black;
  color: white;
}

.cp-icon {
  width: 35px;
  height: 40px;
  float: left;
  margin-left: 15px;
  margin-top: 10px;
}

span {
  margin-left: 15px;
  font-size: 1em;
  font-weight: bold;
  font-style: italic;
  font-family: 'Courier New', Courier, monospace;
  margin-bottom: 90px;
}

.btn-signup {
  margin-left: 500px;
  padding: 8px;
  float: right;
}

.btn-login {
  float: right;
  margin-right: 20px;
  padding: 8px;
}
*/

/* 1st section  */
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container{
  background-color: #e5e5fd;
  min-height: 100vh;
  border: 10px solid #1d1e4c;
}

.content{
  max-width: 900px;
  margin: 0 auto;
}

.top_section{
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.top_section h1{
  font-size: 50px; 
  font-weight: bold;
  color: #1d1e4c;
  text-transform: uppercase;
}
.top_section h4{
  font-size: 30px;
  text-align: end;
}

.image_container{
  border-radius: 50%;
  overflow: hidden;
}

.image_container, img{
  width: 300px;
  height: 340px;
}

/* 2nd section */
.about_section{
  margin-top: 50px;
}
.about_section h2{
  font-size: 70px;
  font-weight: 400;
  margin-bottom: 20px;
}
.about_section p{
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 1.2px;
  text-align: justify;
}

/* 3rd section */
.biography_section{
  margin: 50px 0;
  margin-top: 50px;
}
.biography_section h3{
  margin-bottom: 20px;
}
.biography_section ul{
  margin-left: 50px;
}
.biography_section li{
  margin-bottom: 15px;
}

/* footer */
footer{
  margin: 50px 0;
}
footer p{
  text-align: end;
}
